.wave-first {
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-first svg {
    position: relative;
    display: block;
    width: calc(273% + 1.3px);
    height: 35vh;
}

.wave-first .shape-fill {
    fill: #030303;
}
